*{	
	color: #000000;

}

html{
	scroll-behavior: smooth;
}

body{
	background: linear-gradient(to right, #f0f0f0, #c0c0c0);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;	
}

.navbar {
	display: flex;	
	gap: 20px;
	border: 1px solid white;
	padding: 10px 25px;
	margin-bottom: 20px;
	border-radius: 50px;	
}

.navbar a{
	text-decoration: none;
	font-size: 2em;
	padding: 10px;
	
	}
	
a:hover{
	background-color: grey;
	border-radius: 10px;
	
	}


.intro{
  text-align: center;    
  padding: 20px;  
  margin: auto;                
}

.intro p {
                        
  line-height: 1.6;
  max-width: 600px; 
  font-size: 1.8em;		
}


span{
	font-size: 1.5em;
	color: red;
}

.intro img {
  width: 300px;  
  height: auto;                 
  border-radius: 50%; 
            
}

#technical-skill{
	font-size: 1.8em;
	margin-bottom: 0px;
	
}
#technical-skil li{
	font-size: 1.5em;
}

button{
	font-size: 20px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 3px 3px 3px blue;
		
}

#hirebtn{
	background-color: #0000ff;
	color: white;
}

#cvbtn{
	color: #0000ff;
	

}

.iconn{
	display: flex;
	gap: 20px;
	border-radius: 50%;
	font-size: 20px;
}
	
.contact-info{
	box-sizing: border-box;
	border: 1px solid black;
	padding: 15px;
	margin: 10px auto 40px auto;
	width: 400px;
	border-radius: 10px;
	background-color: grey;
	font-size: 20px;
	
}

.fo{
	display: flex;
	padding: 5px;
	
	
}

#submitbtn{
	background-color: black;
	color: #FFFFFF;
	box-shadow: none !important;
	padding: 5px;
}

@media screen and (max-width: 768px) {
  .navbar {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
  }

  .navbar a {
    font-size: 1.2em;
  }

  .intro img {
    width: 200px;
  }

  .intro p {
    max-width: 90%;
    font-size: 1em;
  }

  button {
    width: 80%;
    font-size: 18px;
  }

  .contact-info {
    width: 90%;
    font-size: 18px;
  }

  .iconn {
    flex-wrap: wrap;
    gap: 15px;
    font-size: 22px;
  }
}

